.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 420px;
  margin: 0 auto;
}

.button {
  height: 40px;
  min-width: 200px;
  width: 100%;
  border: none;
  color: black;
  background-color: #88d3ef;
  font-size: 14px;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.datePicker {
  height: 30px;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  border: 2px solid #88d3ef;
}

.error {
  color: red;
  margin-bottom: 20px;
}

.success {
  color: green;
  margin-bottom: 20px;
}

.slots {
  margin-top: 20px;
}

.slot {
  height: 40px;
  min-width: 120px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #88d3ef;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
}